

.expiriens-error{
    display: flex;
    flex-direction: column;
	  color: var(--blue) ;
	  font-family: 'Lato', sans-serif;
	  font-size: 30px;
	  font-weight: 700;
	  text-shadow:
    4.5px 2.6px 2px rgba(0, 0, 0, 0.078),
    10.8px 6.3px 4.8px rgba(0, 0, 0, 0.097),
    20.3px 11.9px 9px rgba(0, 0, 0, 0.105),
    35.5px 20.7px 16.1px rgba(0, 0, 0, 0.105),
    62.8px 36.7px 30.1px rgba(0, 0, 0, 0.097),
    135px 79px 72px rgba(0, 0, 0, 0.07);
  
    margin: 20px;             
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    animation-duration: 3.5s;
  }
   
  @keyframes blinker {
    from { opacity: 0.5; }
    to { opacity: 1; }
  }
.four{
	font-size: 10rem;
	text-align: center;
	margin: 0;
}
  
.error{
    align-self: center;
}

